/*{
 margin: 0;
 padding: 0;
 }
 img{
 	height: 16px;
 	width:30px;
 }
                                          /*CAMPO DE PESQUISA
.search{
	width:100%;
  position: relative;
  height: 50px;
}
.pesquisa{
 height: 50px;
  border: none;
  outline: none;
  padding-left: 50px;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 3;
  transition: width 1s ease-out;
  cursor: pointer;
}

input:focus { 
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  z-index: 1;
  transition: width 1s ease-in;
}
button { 
  height: 50px;
  width: 50px;
  background:  url('img/pesquisa.png')  center no-repeat;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
button:focus {
  outline: none;
}

                                       AREA DO MENU BAR
 .menu {
 width: 100%;
 height: 80px;
 background-color: #00FFFF;
 font-family: Arial;
 }

 .menu ul {
 list-style: none;
 position: relative;
   justify-content: flex-end;
 }

.menu ul li {
 width: 150px;
 float: left;
 }

.menu a {
 padding: 15px;
 display: block;
 text-decoration: none;
 text-align: center;
 background-color: #00FFFF;
 color: black;
 }
*/

/*
                                               Criando o botao 
 label[for=”botao_menu”]{
 padding: 5px;
 background-color: #222;
 color: #fff;
 font-family: Arial;
 text-align: center;
 font-size: 30px;
 cursor: pointer;
 height: 50px;
 }

#botao_menu {
 display: none;
 }

label[for=”botao_menu”]{
 display: none;
 }   */

 * { margin: 0; padding: 0; }

 body {  
         background-color:#fafafa;
        
         margin:0%;}

 .topo{ text-decoration:none;
       font-family:monospace;
    
       color: black;
       font-size: 15px;
       width:100%;
      padding:5px;}
 
#topo_left{ float:left;
            display:block;
            padding:10px;}
  
#topo_right{ float:right;
           display:block;
           padding:10px;}

.button{
        font-family:monospace;
        background-color: rgba(255, 68, 0, 0.678);
         color: white;
         box-shadow: 0 5px 0 rgba(167, 56, 16, 0.815);
         width:110px;
         border-radius: 5px;
         border: none;
        cursor: pointer;} 
                    
.button:hover{/*transform: scale(1.05);  transformar o botao(fica maior) sempre que o cursos estiver por cima*/
              color: rgba(255, 68, 0, 0.678);
              background-color: white;} /* transformar a cor do texto para branco dentro no botao sempre que o cursos estiver por cima*/

.button:active{
              position: relative;
              top: 5px;
              box-shadow: none;}

#cabeçalho{ display: flex;
        justify-content:space-between;  /*espaco entre os elementos na header como a img e a lista (ul) */
        background-color: rgba(255, 68, 0, 0.678);
        padding-bottom: 0.5%;
        width:100%;}

 /* Propriedades do logotipo no cabeçalho */
 .logo{ width:120px; 
        height:85px;
        position:relative;
        padding-top:3%;
        padding-left: 18%;}     

#slogan{    
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-left:28%;}
      
 /*menu do Cabeçalho*/
.menu{width: 100%;
  height: 80px;
 font-family:'Courier New', Courier, monospace;
 font-weight: 500; 
  padding-top: 1%;
  padding-left: 20%;}  

.menu ul {
    list-style: none;
    position: relative;
      justify-content: flex-start;}

.menu ul li {
      width: 150px;
      float: left;
      text-align: right;}
     
.menu a {
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;}     

.menu ul ul {
        position: absolute;
        visibility: hidden;}
       
.menu ul li:hover ul {
        visibility: visible;
        }

.menu a:hover {
          background-color: transparent;
          color: black;}


  /*sub itens do menu */
 .menu ul ul li {
  float:none;
  border-bottom:none;
  }
 
 .menu ul ul li a {
  background-color: rgba(255, 68, 0, 0.678);
  }

  #divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
   
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
   
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
   
  #divBusca img{
    float:left;
  }


  
/*caixa de pesquisa
.box{ border-color:whitesmoke;
      height:28px;
      border-radius: 5px;
     border-style:none;
     margin-top: 7%;}

.botao{
  color: black;
  width: 18%;
  height:5%;
  cursor: pointer;
  margin-top: 7%;} 
          
.botao:hover{transform: scale(1.05); /* transformar o botao(fica maior) sempre que o cursos estiver por cima
             color: black;} /* transformar a cor do texto para branco dentro no botao sempre que o cursos estiver por cima*/



/* menu dos laptops*/

#figuras ul li { display: inline; }

#figuras ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#figuras ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid orangered;
}

#figuras ul li a:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}


.imagem{width: 250px;
  height: 150px;}

    /*    font-family: "Comic Sans MS", cursive, sans-serif;*/

  h3{color: orangered;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-transform: uppercase;
          display: block;
          font-size: 25px;
          text-align:center;
          text-decoration: underline;
          }
  
   
  .vermais{background-color:rgba(255, 68, 0, 0.678); /*botao criado para Portfolio*/
    color:whitesmoke;
   /*	box-shadow: outset 0 0 8px #B22222;  sombra preta fora do botao */
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px; /* curva ao redor do botao quanto maior mais curvo */
    border-style: solid;
    border-color: rgba(255, 68, 0, 0.678);
      cursor: pointer;/*activar cursor sempre que estiver por cima do botao*/
    margin-top:110px;} 
  
  .vermais:hover{transform: scale(1.00); /* transformar o botao(fica maior) sempre que o cursos estiver por cima*/
            color: black;} /* transformar a cor do texto para branco dentro no botao sempre que o cursos estiver por cima*/
  
  
   #item{color:orangered;
         font-size:15px;
         /*font-style:;*/
         font-family: "lucida Sans Unicode","lucida Grande", sans-serif;
         /*text-align:;*/
         text-decoration:none;  }
  

footer{ width:100%;}

#foot  {background-color: rgba(255, 68, 0, 0.678);
        justify-content:space-around;
        display: flex;}

.contact{
  height: 20px;
   width: 20px;}
   

#rodape{ justify-content:space-between;
             display: flex;
             cursor: pointer;}
  
  
.adress{ font-family:monospace;
           font-size: 17px;
           color: black;
                           }



/* Menu Responsivo */
@media(max-width: 500px) {
label[for=”botao_menu”] {
 display: block;
 }
  
#botao_menu:checked ~ .menu{
 margin-left: 0;
 }
  
.menu{
 margin-top: 5px;
 margin-left: -100%;
 transition: all .4s;
 }
  
.menu ul li {
 width: 100%;
 float: none;
 }
  
.menu ul ul {
 position: static;
 overflow: hidden;
 max-height: 0;
 transition: all 4s;
 }
  
.menu ul li:hover ul {
 height: auto;
 max-height: 200px;
 }
  
 }

 