 * { color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; padding: 0;
   }

 body {  
         background-color:#fafafa;
         margin:0%;}

         /* barra antes do cabeçalho */
 .topo{ text-decoration:none;
       font-family:monospace;
       color: black;
       font-size: 15px;
       width:100%;
      padding:3px;}
 
/* lado esquerdo da barra antes do cabeçalho */
#topo_left{ float:left;
            display:block;
            padding:10px;}
  
/* lado direito da barra antes do cabeçalho */
#topo_right{ float:right;
           display:block;
           padding:10px;}

/* botoes do lado direito da barra antes do cabeçalho */
.button{
        font-family:monospace;
        background-color: rgba(255, 68, 0, 0.678);
         color: white;
         box-shadow: 0 5px 0 rgba(167, 56, 16, 0.815);
         width:110px;
         border-radius: 5px;
         border: none;
        cursor: pointer;} 
                    
.button:hover{/*transform: scale(1.05);  transformar o botao(fica maior) sempre que o cursos estiver por cima*/
              color: rgba(255, 68, 0, 0.678);
              background-color: white;} /* transformar a cor do texto para branco dentro no botao sempre que o cursos estiver por cima*/

.button:active{
              position: relative;
              top: 5px; /* distancia entre o botao e o efeito 3d ao clicar */
              box-shadow: none;}

/* Proporiedades do cabeçalho */
#cabeçalho{ display: flex;
        justify-content:space-between;  /*espaco entre os elementos na header como a img e a lista (ul) */
        background-color: rgba(255, 68, 0, 0.678);
        padding-bottom: 1%;
        width:100%;}

 /* Propriedades do logotipo no cabeçalho */
 .logo{ width:120px; 
        height:85px;
        position:relative;
        padding-top:3%;
        padding-left: 18%;}     

/* Propriedades do texto abaixo do logotipo */
#slogan{    
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  padding-left:33%;}
      
 /*menu do Cabeçalho*/
.menu{width: 100%;
  height: 80px;
 font-family:'Courier New', Courier, monospace;
 font-weight: 500; 
  padding-top: 1%;
  padding-left: 20%;}  

.menu ul {
    list-style: none;
    position: relative;
    justify-content: flex-start;}

.menu ul li {
      width: 150px;
      float: left;
      text-align: right;}
     
.menu a {
      padding: 15px;
      display: block;
      text-decoration: none;
      text-align: center;}     

.menu ul ul {
        position: absolute;
        visibility: hidden;}
       
.menu ul li:hover ul {
        visibility: visible;
        }

.menu a:hover {
          background-color: transparent;
          color: black;}


/*sub itens do menu */
 .menu ul ul li {
  float:none;
  border-bottom:none;}
 
 .menu ul ul li a { background-color: rgba(255, 68, 0, 0.678);}

  /* Propriedades da div de Pesquisa/busca */
  #divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;}
   
    /* Propriedades do texto de Pesquisa/busca */
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px; 
    font-size:18px;
    border:none;
    height:32px;
    width:200px;}
   
/* Propriedades do botao de Pesquisa/busca */
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:95px;
    font-weight:bold;
    background:#5F9EA0;
    cursor: pointer;}
   
/*Propriedades do texto em movimento*/
b{ color: chocolate;
font-weight:bolder;
font-size: x-large;
/*text-decoration-line: overline underline; */
/*text-decoration-style:solid;*/}


/* menu dos laptops*/
#figuras ul li { display: inline; }

#figuras ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;/* borda abaixo da imagem*/}

#figuras ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid orangered; /* transformacao da borda abaixo da imagem*/
}

#figuras ul li a:active {
  position: relative;
  top: 5px;
  box-shadow: none;}

/*Propredade das imagems dos laptops */
.imagem{width: 250px;
  height: 150px;}

/*Propredade nas marcas/titulos laptops */
  h3{color: orangered;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-transform: uppercase;
          font-stretch: extra-expanded;
          display: block;
          font-size: 25px;
          text-align:center;
          text-decoration: underline;}

/*Propriedades das referencias e cada laptop*/
#referencia{color: #333;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;}

/*Propriedades do valor nos preços dos laptops*/            
#preço{
  color: darkorange;
  font-size:18px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-stretch: extra-expanded;
  font-weight: bolder;}       
  
/*Propriedades do Botão VER MAIS...*/
  .vermais{
    width:300px;
    height:25px;
    background-color:rgba(255, 68, 0, 0.678);
    color:whitesmoke;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    align-content: center;
    font-weight: bold;
    border-radius: 3px; /* curva ao redor do botao quanto maior valor mais curvo */
    border-style: solid;
    border-color: rgba(255, 68, 0, 0.678);
      cursor: pointer;/*activar cursor sempre que estiver por cima do botao*/
    margin-top:5px;} 
  
  .vermais:hover{transform: scale(1.00); /* transformar o botao(fica maior) sempre que o cursos estiver por cima*/
            color: black;} /* transformar a cor do texto para branco dentro no botao sempre que o cursos estiver por cima*/
   
/*Propriedades do Footer */
footer{ width:100%;}

#foot  {background-color: rgba(255, 68, 0, 0.678);
        justify-content:space-around;
        display: flex;
        padding-bottom: 25px;}

#footinho{color:black;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          padding-top: 3%;
          text-transform: capitalize;}

/*.sobre{color:black;
       }*/

/*Propriedades do horario e do endereço*/
.contact{
  height: 20px;
   width: 20px;}
   
/*Propriedades do rodape*/
#rodape{ justify-content:space-between;
             display: flex;}
  
/*Propriedades do endereço no rodape*/
.adress{ font-family:monospace;
           font-size: 14px;
           color: black;
           padding-top: 2%; }

/*Propriedades dos icones no rodape (facebook,twitter,)*/
#icons{
       width:30px ;
       height:30px ;           
      cursor: pointer;
      padding-right:25px;}




/* Menu Responsivo */
@media(max-width: 500px) {

 }

 @media (min-width: 320px) and (max-width: 480px) {
 }